<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      mi pequeña App con GoogleMaps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding ion-text-left">

    <ion-text>
      <h5 style="margin: 0px;">GoogleMaps con Api de JavaScript y Geolocation de Capacitor</h5>
    </ion-text>
    <ion-text color="primary">
      <p style="margin: 0px; font-weight: bold;">Componente app-mostrar-gps</p>
      <p style="margin: 0px;">recibe datos de DatosServices creados en app-mostrar-maps</p>
    </ion-text>
    <app-mostrar-gps> </app-mostrar-gps>

    <ion-text color="primary">
      <p style="margin: 0px;  font-weight: bold;">Componente app-mostrar-maps</p>
      <p style="margin: 0px;">genera datos de Geolocation que envia a un DatosServices y pinta googleMaps </p>
    </ion-text>
    <app-mostrar-maps></app-mostrar-maps>
  </div>
</ion-content>
