<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding ion-text-left">
    <br>
    <strong>GoogleMaps con Api de JavaScript y Geolocation de Capacitor</strong>
    <br>
    <small>[Incluye algunos componentes anidados y TODO: paso de variables entre padres e hijos ]</small><br>
    <small>[Para crear nuevo proyecto: ionic start miNuevoProyecto blank --type=angular --capacitor]</small><br>
    <small>[A continuación entra en escena un componente hijo de HomePage. Es necesario declararlo en el module de
      HomePage]</small><br>
    <app-mostrar-gps></app-mostrar-gps>
    <small>[Texto desde el Home Component: Aquí termina el componente de mostrar datos del gps. A continuación el
      componente que muestra Googlemaps desde la ubicación actual. Está anidado dentro de Home. Recuerda declararlo en el module]</small>
    <app-mostrar-maps></app-mostrar-maps>
  </div>
</ion-content>
